<!--HERO SECTION-->
<div class="w-full h-[calc(50vh-93.6px)] relative -z-10">
    <img
        src="https://static.vecteezy.com/ti/vecteur-libre/p1/4299835-achats-en-ligne-sur-telephone-achat-vente-entreprise-digital-web-banner-application-argent-publicite-paiement-ecommerce-vector-illustration-search-gratuit-vectoriel.jpg"
        alt=""
        class="w-full h-full object-cover"
    />
    <div
        class="absolute w-full h-full top-0 left-0 bg-[#00000091] flex items-center justify-center"
    >
        <h2 class="text-3xl font-bold text-white">Boutique</h2>
    </div>
</div>