{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
    <div class="w-full my-8 flex items-center justify-center">
      <div class="w-[25%] max-md:w-[90%]">
        <div method="post" class="w-full flex flex-col items-center justify-center gap-8">
            <p>
                Si un compte correspondant à votre e-mail existe, cela signifie qu'un e-mail vient d'être envoyé contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe.
                Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
            </p>
            <p>
                Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier spam ou 
                <a class="text-[#3c14ee11]" href="{{ path('app_forgot_password_request') }}">réessayer</a>.
            </p>
        </div>
      </div>
    </div>
{% endblock %}
