{% extends 'base.html.twig' %}

{% block title %}Requête incorrecte{% endblock %}

{% block body %}
<div class="w-full my-8 flex items-center justify-center">
      <div class="w-[25%] max-md:w-[90%]">
        <div method="post" class="w-full flex flex-col items-center justify-center gap-8">
            <h1>Requête incorrecte</h1>
            <p>Votre demande ne peut pas être traitée en raison d'une requête incorrecte.</p>
        </div>
      </div>
    </div>
{% endblock %}