{% extends 'base.html.twig' %}

{% block title %}Page non trouvée{% endblock %}

{% block body %}
    <div class="w-full my-8 flex items-center justify-center">
      <div class="w-[25%] max-md:w-[90%]">
        <div method="post" class="w-full flex flex-col items-center justify-center gap-8">
            <h1>Page non trouvée</h1>
            <p>La page que vous recherchez n'existe pas. Veuillez vérifier l'URL ou retourner à la <a href="{{ path('app_home') }}">page d'accueil</a>.</p>
        </div>
      </div>
    </div>
{% endblock %}