{% extends 'base.html.twig' %}

{% block title %}Trop de requêtes{% endblock %}

{% block body %}
<div class="w-full my-8 flex items-center justify-center">
      <div class="w-[25%] max-md:w-[90%]">
        <div method="post" class="w-full flex flex-col items-center justify-center gap-8">
            <h1>Trop de requêtes</h1>
            <p>Vous avez envoyé trop de requêtes en peu de temps. Veuillez réessayer plus tard.</p>service est temporairement indisponible. Veuillez réessayer plus tard.</p>
        </div>
      </div>
    </div>
{% endblock %}