{% extends 'base.html.twig' %}

{% block title %}Erreur interne du serveur{% endblock %}

{% block body %}
<div class="w-full my-8 flex items-center justify-center">
      <div class="w-[25%] max-md:w-[90%]">
        <div method="post" class="w-full flex flex-col items-center justify-center gap-8">
            <h1>Erreur interne du serveur</h1>
            <p>Une erreur est survenue sur le serveur. Veuillez réessayer plus tard.</p>
        </div>
      </div>
    </div>
{% endblock %}