{% extends 'base.html.twig' %}

{% block title %}Non autorisé{% endblock %}

{% block body %}
<div class="w-full my-8 flex items-center justify-center">
      <div class="w-[25%] max-md:w-[90%]">
        <div method="post" class="w-full flex flex-col items-center justify-center gap-8">
            <h1>Non autorisé</h1>
            <p>Vous devez vous connecter pour accéder à cette page.</p>
        </div>
      </div>
    </div>
{% endblock %}